<!-- <nav class="navbar navbar-expand-md bg-body-white border-bottom sticky-top" >
    <div class="container-fluid">
        <a class="navbar-brand" href="/" ><i class="fa-solid fa-droplet"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav"> -->
            <!-- <a class="nav-link " href="/">Home</a> -->
            <!-- <a class="nav-link" href="/main">Home</a>
            <a class="nav-link" href="/main/shop">Shoping</a>
        </div>
        </div>
    </div>
</nav> -->
<nav style="background-color:#033f40;background-size:contain;"id="navbar" class="navbar sticky-top">
    <div class="logo"><a href="/main/home" class="logoimg"><img src="/images/logo.png" alt=""></a></div>
    <ul class="nav-links">
        <li><a href="/main/home">HOME</a></li>
        <li><a href="/main/info">INFO</a></li>
        <li><a href="/main/home2">GAMES</a></li>
        <!-- <li><a href="/main">Games</a></li> -->
        <li><a href="/main/shop">SHOPPING</a></li>
        <li><a href="/main/contact">CONTACT</a></li>
    </ul>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>

<script>
    const hamburger = document.querySelector('.hamburger');
    const navLinks = document.querySelector('.nav-links');

    hamburger.addEventListener('click', () => {
        navLinks.classList.toggle('active');
    });
</script>

