<!-- <nav class="navbar navbar-expand-md bg-body-white border-bottom sticky-top" >
    <div class="container-fluid">
        <a class="navbar-brand" href="/" ><i class="fa-solid fa-droplet"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav"> -->
            <!-- <a class="nav-link " href="/">Home</a> -->
            <!-- <a class="nav-link" href="/main">Home</a>
            <a class="nav-link" href="/main/shop">Shoping</a>
        </div>
        </div>
    </div>
</nav> -->
    <nav class="navbar sticky-top">
        <div class="logo"><img src="/images/logo.png" alt=""></div>
        <ul class="nav-links">
            <li><a href="/main/home">Home</a></li>
            <li><a href="/main">Games</a></li>
            <li><a href="/main/shop">Shop</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>

    <script>
        const hamburger = document.querySelector('.hamburger');
        const navLinks = document.querySelector('.nav-links');

        hamburger.addEventListener('click', () => {
            navLinks.classList.toggle('active');
        });
    </script>

