<% layout("/layout/boilerplate")%>
    <iframe  height="100%" src="https://www.youtube.com/embed/MFLVmAE4cqg?autoplay=1&loop=1&playlist=MFLVmAE4cqg&mute=1&modestbranding=1&controls=0&showinfo=0&iv_load_policy=3&rel=0" frameborder="0" allowfullscreen></iframe>
    <div class="info">1. Yamuna Action Plan: Aimed at reducing river pollution through sewage treatment and public awareness.</div>
    <div class="info">2. Delhi Jal Board (DJB) Initiatives:o Programs for water harvesting, wastewater treatment, and groundwater recharge.</div>
<div class="info">3. Rainwater Harvesting Mandate:o Mandatory rainwater harvesting systems in large buildings and complexes.</div>
4. National Mission for Clean Ganga (NMCG):
o Though focused on the Ganga, NMCG has indirect benefits for the Yamuna.
5. Sewage Management and Treatment:
o Sewage Treatment Plants (STPs)
o Sewerage network expansion
6. Jal Jeevan Mission: Har Ghar Jal Initiative: Aims to provide piped water to all
households, though urban areas like Delhi lag in implementation.
7. Atal Bhujal Yojana: Focuses on community-led groundwater management,
involving local stakeholders in sustainable water extraction practices.
    </div>
</body>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    iframe{
        width: 100vw;
        height: 90vh;
    }

