<% layout("/layout/boilerplate")%>
    <div class="main-box">
        <form method="GET" action="/main/brush">
            <button class="Wakeup btn btn-primary btn-lg">Wake up</button>
        </form>
    </div>

