<% layout("/layout/boilerplate")%>
<!-- <script>
    alert("Only for government ");
</script> -->
<div class="info_container">
    <h2>Leak detection prediction made by AI/ML</h2>
<div class="graph_container">
    <div class="info_graph2">
    </div>
    <div class="info_text">
        <p>This graph shows  the preassure and flow rate data in a pipeline </p><p>this graph is a leak detection system developed through AI which shows potential leaks with real time</p>
        <p>It uses anomalies in the preassure and flow rate on water and can sense the potential leak. </p>
    </div>
</div>
</div>


<div class="info_container">
    <h2>Delhi water prediction made by AI/ML</h2>
<div class="graph_container">
    <div class="info_graph">
    </div>
    <div class="info_text">
       <p>The graph is made using AI/ML teachnology and python libraries matplotlib and sklearn</p>
       <p>In the graph the green line shows the amount of water required in billion liters by the population of Delhi per year whereas the line in red shows the water used by the same population of Delhi per year  </p> 
       <p>We can see that there is a stark difference between these two plots and as predicted by the ML model this difference will keep on increasing over years </p>
       <p>This would be enough for us to realise  the need for conservation of Water</p>
    </div>
</div>
</div>

