<% layout("/layout/boilerplate")%>
<body class="nextpage">
<div class="abc">
    <div class="card card1" style="width: 28rem;" >
        <img src="https://media.istockphoto.com/vectors/child-throws-a-garbage-in-the-river-vector-id918106158?k=6&m=918106158&s=612x612&w=0&h=z5UgLr7faqWqJpZ-zW5P8zsXJ5ebdXMrONc9R1pxFMo=" class="card-img-top" alt="pond">
        <div class="card-body">
            <p class="card-text">Keep the <b>ponds</b> clean and <b>bright</b>, For fish to swim and birds take flight</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card card2" style="width: 28rem;">
        <img src="https://static.vecteezy.com/system/resources/previews/020/240/681/large_2x/kid-throwing-garbage-in-trash-bin-illustration-vector.jpg" class="card-img-top"  alt = "dustbin">
        <div class="card-body">
            <p class="card-text">Throw the garbage on the <b>bin</b>, That's how we let nature win!</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
</body>



