<% layout("/layout/boilerplate")%>
<div class="policies_container">
    <div class="card" style="width: 18rem; height: 380px;">
        <img src="https://tse3.mm.bing.net/th?id=OIP.mdDcsJUhc5eTwrgywg2hyAAAAA&rs=1&pid=ImgDetMain" class="card-img-top" alt="..." >
        <div class="card-body" style="padding-bottom: 2px;">
          <p class="card-text"><a href="https://www.haryali.org.in/yamunaactionplan.html" target="_blank" style="height: 200px;">
            <span>Yamuna Action Plan</span>
        </a></p>
        </div>
      </div>
    <!-- <div class="policies_container2 card" style="width: 18rem;">
        <a href="https://www.haryali.org.in/yamunaactionplan.html" target="_blank">
            <span>Yamuna Action Plan</span>
        </a>
    </div> -->

    <div class="card" style="width: 18rem; height: 380px;">
        <img src="https://complainthub.in/wp-content/uploads/2024/02/Delhi-Jal-Board-Logo.png" class="card-img-top" alt="..." style="height: 285px;">
        <div class="card-body">
          <p class="card-text"> <a href="https://delhijalboard.delhi.gov.in" target="_blank">
            <span>Delhi Jal Board Initiatives</span>
        </a></p>
        </div>
      </div>

        <!-- <div class="policies_container2 card" style="width: 18rem;">
        <a href="https://delhijalboard.delhi.gov.in" target="_blank">
            <span>Delhi Jal Board Initiatives</span>
        </a>
        </div> -->


        <div class="card" style="width: 18rem; height: 380px;">
            <img src="https://cdn1.byjus.com/wp-content/uploads/2015/09/Rain-water-harvesting.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"> <a href="http://www.rainwaterharvesting.org/Policy/Legislation.htm" target="_blank">
                <span>Rain Water Harvesting Mandate </span> 
            </a></p>
            </div>
          </div>


    <!-- <div class="policies_container2 card" style="width: 18rem;">
        <a href="http://www.rainwaterharvesting.org/Policy/Legislation.htm" target="_blank">
            <span>Rain Water Harvesting Mandate </span> 
        </a>
    </div> -->

     
    <div class="card" style="width: 18rem; height: 380px;">
        <img src="https://www.iasgyan.in/ig-uploads/images/image01929.jpg" class="card-img-top" alt="..." style="height: 285px;">
        <div class="card-body">
          <p class="card-text"><a href="https://nmcg.nic.in" target="_blank">
            <span>National Mission for Clean Ganga </span>
        </a></p>
        </div>
      </div>


    <!-- <div class="policies_container2 card" style="width: 18rem;">
        <a href="https://nmcg.nic.in" target="_blank">
            <span>National Mission for Clean Ganga </span>
        </a>
    </div> -->


    <div class="card" style="width: 18rem; height: 380px;">
        <img src="https://miro.medium.com/v2/resize:fit:1200/1*PeFVI20zYRnh1LdbxV6Hpw.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><a href="#" target="_blank">
            <span>Sewage Management and Treatment </span>
        </a></p>
        </div>
      </div>
    


    <!-- <div class="policies_container2 card" style="width: 18rem;" >
        <a href="#" target="_blank">
            <span>Sewage Management and Treatment </span>
        </a>
    </div> -->

    
    <div class="card" style="width: 18rem; height: 380px;">
        <img src="https://tse1.mm.bing.net/th?id=OIP.vpQA664buODA3NiZumFG_wHaHa&rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><a href="#" target="_blank">
            <span>Jal Jeevan Mission </span>
        </a></p>
        </div>
      </div>


    <!-- <div class="policies_container2 card" style="width: 18rem;">
        <a href="#" target="_blank">
            <span>Jal Jeevan Mission </span>
        </a>
    </div> -->



    <div class="card" style="width: 18rem; height: 380px;">
        <img src="https://i0.wp.com/www.insightsonindia.com/wp-content/uploads/2021/08/Atal-Bhujal-Yojana.jpg?resize=525%2C525&ssl=1" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><a href="#" target="_blank">
            <span>Atul Bhujal Yojana </span>
        </a></p>
        </div>
      </div>


    <!-- <div class="policies_container2 card" style="width: 18rem;">
        <a href="#" target="_blank">
            <span>Atul Bhujal Yojana </span>
        </a>
    </div> -->
</div>
<style>
    .card-body{
        height: 10px;
    }
    .card{
        border-radius: 15px;
        border: 5px solid rgb(21, 41, 21);
    }
    div p a {
        text-decoration: none;
        font-size: large;
        font-weight: bold;
    }
    .card:hover{
        box-shadow: 10px 10px 10px gray;
        transform: scale(1.02,1.02);
    }
    
</style>
