<% layout("/layout/boilerplate")%>
<div class="policies_container">
    <div class="policies_container2">
        <a href="https://www.haryali.org.in/yamunaactionplan.html" target="_blank">
            <span>Yamuna Action Plan</span>
        </a>
    </div>
    <div class="policies_container2">
        <a href="https://delhijalboard.delhi.gov.in" target="_blank">
            <span>Delhi Jal Board Initiatives</span>
        </a>
    </div>
    <div class="policies_container2">
        <a href="http://www.rainwaterharvesting.org/Policy/Legislation.htm" target="_blank">
            <span>Rain Water Harvesting Mandate </span> 
         </a>
    </div>
    <div class="policies_container2">
        <a href="https://nmcg.nic.in" target="_blank">
            <span>National Mission for Clean Ganga </span>
        </a>
    </div>
    <div class="policies_container2">
        <a href="#" target="_blank">
            <span>Sewage Management and Treatment </span>
        </a>
    </div>
    <div class="policies_container2">
        <a href="#" target="_blank">
            <span>Jal Jeevan Mission </span>
        </a>
    </div>
    <div class="policies_container2">
        <a href="#" target="_blank">
            <span>Atul Bhujal Yojana </span>
        </a>
    </div>
</div>
