<% layout("/layout/boilerplate")%>
<div style="background-color:white;width:100vw;" class="shop">
    <h2 style="text-align:center;font-size:50px;">Water Saving Household Products</h2>
    <div class="shop_container" >
        <div class="shop_card">
            <div class="shop_top"><img src="https://assets.aboutamazon.com/dims4/default/4c51e74/2147483647/strip/true/crop/1280x720+0+0/resize/1280x720!/format/webp/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fe5%2F5f%2F8514e14b4a2a8d7dcaa7886a867e%2Fwater-tank-overflow-alarm-for-smart-home-motor-automation.jpg" ><span>20% off</span></div>
            <div class="shop_bottom">
                <div class="shop_text">Water tank overflow alarm <span>4.3 &#9733</span></div>
                <div class="shop_time"> ₹739</div>
                <button class="shop_add_button"><a href="https://www.amazon.in/WAVLY-Automatic-Controller-preventing-Automation/dp/B07VL684Z6" target="_blank">Add</a></button>
            </div>
        </div>
        <div class="shop_card">
            <div class="shop_top"><img src="https://assets.aboutamazon.com/dims4/default/224fc94/2147483647/strip/true/crop/1280x720+0+0/resize/1280x720!/format/webp/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fb2%2F27%2F74d6a07640a8a47fad92ca459893%2Fhigh-pressure-water-saver-showerhead-for-low-flow-showers.jpg" ><span>40% off</span></div>
            <div class="shop_bottom">
                <div class="shop_text">Water saver shower head <span>4.0 &#9733</span></div>
                <div class="shop_time">₹3,922</div>
                <button class="shop_add_button"><a href="https://www.amazon.in/Pressure-Boosting-Shower-Head-Showerhead/dp/B07NVVRNRN/" target="_blank">Add</a></button>
            </div>
        </div>
        <div class="shop_card">
            <div class="shop_top"><img src="https://assets.aboutamazon.com/dims4/default/577844a/2147483647/strip/true/crop/1280x720+0+0/resize/1280x720!/format/webp/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Ff0%2F85%2Feb9c69004c5fb8847eb47ba678be%2F360-degree-rotating-water-saving-sprinkler.jpg" ><span>30% off</span></div>
            <div class="shop_bottom">
                <div class="shop_text">Water saving sprinkler<span>3.3 &#9733</span></div>
                <div class="shop_time"> ₹209</div>
                <button class="shop_add_button"><a href="https://www.amazon.in/Styxon-Rotating-Water-Saving-Sprinkler-Adjustable/dp/B09ZWH9658" target="_blank">Add</a></button>
            </div>
        </div>
        <div class="shop_card">
            <div class="shop_top"><img src="https://energysavingtrust.org.uk/wp-content/uploads/2019/07/GettyImages-187229779-2023x1350.jpg" style="height: 200px;" ><span>50% off</span></div>
            <div class="shop_bottom">
                <div class="shop_text">Displacement Device <span>4.3 &#9733</span></div>
                <div class="shop_time">₹302</div>
                <button class="shop_add_button"><a href="https://nwl.watersavingkit.com/product/cistern-displacement-device/" target="_blank">Add</a></button>
            </div>
        </div>
        <div class="shop_card">
            <div class="shop_top"><img src="https://energysavingtrust.org.uk/wp-content/uploads/2021/01/markus-spiske-sFydXGrt5OA-unsplash_crop-1800x1350.jpg" style="height: 200px;"><span>60% off</span></div>
            <div class="shop_bottom">
                <div class="shop_text">Plant water saving gel <span>4.3 &#9733</span></div>
                <div class="shop_time">₹105</div>
                <button class="shop_add_button"><a href="https://www.amazon.in/MAGIC-HYDROGEL-AGRICULTURE-500gm/dp/B07HY49158/ref=sr_1_1_sspa?adgrpid=141204530555&dib=eyJ2IjoiMSJ9.gKN2HARsfmkmitYvVUfg7hSOVzIC8S_0eL1tc9xsMrDxFOlrXIVwuqNm4zPgTkZKhs4iH5MYXY6romZDqJ6BOzuHVlh5t2D-iQm2QAJGNmhrH6JkJeF1b71obA7sRYNO9dZaPGpN6nbWzBuSAsnP-iRoKXIoMnPjUKm_Qjcg6F9XF1DOdMKNQB5SA7vUYJc-8S5jyn-RG8zRETkoiXCGQxKCe8_MUUqo9EieKkaPgNuJD4dAXv9E2VNE4xRGGJlDyZnpufXpNUC3I0KAUwWY4sMMSTabTOYEwA-4zvWmfX0.7Y6t_IUeVxwYIbJJqwsG4lBexee68oM5ksZJ36Sygmo&dib_tag=se&ext_vrnc=hi&hvadid=617945988702&hvdev=c&hvlocphy=9301594&hvnetw=g&hvqmt=e&hvrand=8540336445320862905&hvtargid=kwd-302366835328&hydadcr=14140_2260957&keywords=plant%2Bwatering%2Bgel&qid=1737120183&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&smid=ADMI595DZEDBL&th=1" target="_blank">Add</a></button>
            </div>
        </div>
        <div class="shop_card">
            <div class="shop_top"><img src="https://assets.aboutamazon.com/dims4/default/7667a72/2147483647/strip/true/crop/1280x720+0+0/resize/1280x720!/format/webp/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fcb%2Fe7%2F9a314a344f47ba9a9748c880916c%2Fcar-dry-wash-kits.jpg" ><span>30% off</span></div>
            <div class="shop_bottom">
                <div class="shop_text">Waterless Carwash kit<span>4.9 &#9733</span></div>
                <div class="shop_time">₹871</div>
                <button class="shop_add_button"><a href="https://www.amazon.in/WaveX-WWMC1K-Waterless-Wash-Concentrate/dp/B071FTVB7C/" target="_blank">Add</a></button>
            </div>
        </div>
        <div class="shop_card">
            <div class="shop_top"><img src="https://assets.aboutamazon.com/dims4/default/9b443bb/2147483647/strip/true/crop/1280x720+0+0/resize/1280x720!/format/webp/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F96%2F86%2F9cebb4d44c5480d958c88166b173%2Fdrip-irrigation-kits-for-plants.jpg" ><span>10% off</span></div>
            <div class="shop_bottom">
                <div class="shop_text">Drip irrigation kits for plants<span>5.0 &#9733</span></div>      
                <div class="shop_time">₹1,355</div>
                <button class="shop_add_button"><a href="https://www.amazon.in/Trust-Basket-Drip-Irrigation-Plants/dp/B07LD3LPL5/" target="_blank">Add</a></button>
            </div>
        </div>
    </div>
</div>
<script>
    const buttons = document.querySelectorAll('.shop_add_button');
    buttons.forEach((button, index) => {
            button.addEventListener('click', () => {
                const productName = button.closest('.shop_card').querySelector('.shop_text').childNodes[0].textContent.trim();
                console.log(productName); 
                alert(` ${productName} added to cart`);
            });
        });
</script>