<% layout("/layout/boilerplate")%>
<div style="background-color: #eea2af;width:100vw;">
    <h2 style="text-align:center;padding:10px;">Water Saving Household Products</h2>
    <div class="shop_container" >
        <div class="shop_card">
            <div class="shop_top"><img src="https://assets.aboutamazon.com/dims4/default/4c51e74/2147483647/strip/true/crop/1280x720+0+0/resize/1280x720!/format/webp/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fe5%2F5f%2F8514e14b4a2a8d7dcaa7886a867e%2Fwater-tank-overflow-alarm-for-smart-home-motor-automation.jpg" ><span>20% off</span></div>
            <div class="shop_bottom">
                <div class="shop_text">Water tank overflow alarm <span>4.3 &#9733</span></div>
                <div class="shop_time"> ₹739</div>
            </div>
        </div>
        <div class="shop_card">
            <div class="shop_top"><img src="https://assets.aboutamazon.com/dims4/default/224fc94/2147483647/strip/true/crop/1280x720+0+0/resize/1280x720!/format/webp/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fb2%2F27%2F74d6a07640a8a47fad92ca459893%2Fhigh-pressure-water-saver-showerhead-for-low-flow-showers.jpg" ><span>40% off</span></div>
            <div class="shop_bottom">
                <div class="shop_text">Water saver shower head <span>4.0 &#9733</span></div>
                <div class="shop_time">₹3,922</div>
            </div>
        </div>
        <div class="shop_card">
            <div class="shop_top"><img src="https://assets.aboutamazon.com/dims4/default/577844a/2147483647/strip/true/crop/1280x720+0+0/resize/1280x720!/format/webp/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Ff0%2F85%2Feb9c69004c5fb8847eb47ba678be%2F360-degree-rotating-water-saving-sprinkler.jpg" ><span>30% off</span></div>
            <div class="shop_bottom">
                <div class="shop_text">Water saving sprinkler<span>3.3 &#9733</span></div>
                <div class="shop_time"> ₹209</div>
            </div>
        </div>
        <div class="shop_card">
            <div class="shop_top"><img src="https://energysavingtrust.org.uk/wp-content/uploads/2019/07/GettyImages-187229779-2023x1350.jpg" style="height: 200px;" ><span>50% off</span></div>
            <div class="shop_bottom">
                <div class="shop_text">Displacement Device <span>4.3 &#9733</span></div>
                <div class="shop_time">₹302</div>
            </div>
        </div>
        <div class="shop_card">
            <div class="shop_top"><img src="https://energysavingtrust.org.uk/wp-content/uploads/2021/01/markus-spiske-sFydXGrt5OA-unsplash_crop-1800x1350.jpg" style="height: 200px;"><span>60% off</span></div>
            <div class="shop_bottom">
                <div class="shop_text">Plant water saving gel <span>4.3 &#9733</span></div>
                <div class="shop_time">₹105</div>
            </div>
        </div>
        <div class="shop_card">
            <div class="shop_top"><img src="https://assets.aboutamazon.com/dims4/default/7667a72/2147483647/strip/true/crop/1280x720+0+0/resize/1280x720!/format/webp/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fcb%2Fe7%2F9a314a344f47ba9a9748c880916c%2Fcar-dry-wash-kits.jpg" ><span>30% off</span></div>
            <div class="shop_bottom">
                <div class="shop_text">Waterless Carwash kit<span>4.9 &#9733</span></div>
                <div class="shop_time">₹871</div>
            </div>
        </div>
        <div class="shop_card">
            <div class="shop_top"><img src="https://assets.aboutamazon.com/dims4/default/9b443bb/2147483647/strip/true/crop/1280x720+0+0/resize/1280x720!/format/webp/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F96%2F86%2F9cebb4d44c5480d958c88166b173%2Fdrip-irrigation-kits-for-plants.jpg" ><span>10% off</span></div>
            <div class="shop_bottom">
                <div class="shop_text">Drip irrigation kits for plants<span>5.0 &#9733</span></div>      
                <div class="shop_time">₹1,355</div>
            </div>
        </div>
    </div>
</div>