<% layout("/layout/boilerplate")%>
<div class="thank" style="padding-left: 35px;">Thank you <i><%= name %></i> for your valuable feedback</div>
<video autoplay  muted>
    <source src="/images/thankyou.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<style>
        *{
            margin: 0;
            padding: 0;
        }
        video{
            position: relative;
            width: 100vw;
            height: 90vh;
            object-fit: cover;
            display: block;
            margin: 0 auto;
            border: 2px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .thank{
            z-index: 1;
            position: absolute;
            background-color: rgb(26, 26, 26);
            color: whitesmoke;
            margin-top: 2vh;
            margin-left: 35vw;
            /* margin-left: 600px; */
            font-weight: bolder;
            border: 2px solid rgb(24, 24, 24);
            border-radius: 15px;
            height: 35px;
            width: 400px;
            padding: 2px;
            padding-left: 10px;
        }
        .thank:hover{
            box-shadow: 10px 10px 13px rgb(14, 57, 22);
            transform: scale(1.03,1.03);
        }
</style>